<div class="container container-fluid">
    <div class="row p">
      <div class="col-lg-3 pt-3 pb-3">
        <img src="https://media.filmelier.com/noticias/br/2021/10/WaltDisneyplansDisneylandDec1954.jpg" width="200" height="150" alt="Criação da Disney">
      </div>
      <div class="col-lg-3 pt-3 pb-3">
        <img src="https://t2.tudocdn.net/103062?w=400&h=419" width="200" height="150" alt="Criação da Apple">
      </div>
      <div class="col-lg-3 pt-3 pb-3">Column</div>
      <div class="col-lg-3 pt-3 pb-3">Column</div>
    </div>
</div>

