<nav class="navbar-dark bg-dark">
  <div class="container pt-3 pb-3">
    <div  class="navbar-brand text-center">Copyright &copy; 2022 - by John Lima</div>
  </div>
</nav>








 <!--<div class="collapse navbar-collapse" id="#navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
           <a routerLink="/" class="nav-link">Usuarios</a>
        </li>
        <li class="nav-item">
          <a routerLink="/todo" class="nav-link">Lista de Tarefas</a>
       </li>
      </ul>

    </div> -->